#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(117, 82, 16, 0.788);
}

/*Bookshelf in app.tsx*/
h1 {
  color: rgba(255, 255, 255, 0.849);
  padding: 10px 15px 15px 5px;
  background: 10px 10px repeat-x fixed;
  font-family: "PlayfairDisplay";
}