# Workflow for publishing the students' website along with additional helpful information
# Author: Austin Cory Bart
name: Deploy main branch as website

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - id: get-repo-values
        name: Get repository values
        run: |
          url=https://$(echo "${{ github.repository }}" | sed "s/\//.github.io\//")
          echo "url=$url" >> $GITHUB_OUTPUT

      - name: Create dist directory
        run: mkdir -p dist

      - name: Create _ERRORS.txt and _WARNINGS.txt
        run: |
          touch ./dist/_ERRORS.txt
          touch ./dist/_WARNINGS.txt

      - name: Create Log File
        id: create_log
        run: |
          echo "Starting deployment at $(date)" |& tee ./dist/_build_log.txt
          echo "Repository: ${{ github.repository }}" |& tee -a ./dist/_build_log.txt
          echo "Run ID: ${{ github.run_id }}" |& tee -a ./dist/_build_log.txt
          echo "Job: ${{ github.job }}" |& tee -a ./dist/_build_log.txt

      - name: Setup Dashboard
        id: setup_dashboard
        run: |
          mkdir -p docs
          printf '## Quick Links\n\nHere are quick links for your deployed site! The build log is at the bottom.\n\n' > docs/dashboard.md
          echo "<html><head><meta http-equiv='refresh' content='0; URL=docs/dashboard' /></head><body>Redirecting to dashboard</body></html>" > ./dist/dashboard.html
          cp ./dist/dashboard.html ./dist/quick.html
          echo "* [Deployed Site](../): Your actual website." >> docs/dashboard.md
          echo "* [Dashboard](./dashboard.html): This current page." >> docs/dashboard.md
          echo "* [Deployment Log](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}): The official deployment logs on GitHub." >> docs/dashboard.md

      - id: compute-base
        name: Compute base path
        run: |
          repo="${GITHUB_REPOSITORY#*/}"
          echo "base=/$repo/" >> $GITHUB_OUTPUT

      - name: Create Redirects and Links
        id: create_redirects
        run: |
          echo "<html><head><meta http-equiv='refresh' content='0; URL=${{github.server_url}}/${{github.repository}}' /></head><body>Redirecting to repository</body></html>" > ./dist/repo.html
          echo "* [GitHub Repository](../repo.html): Jump to the GitHub repository." >> docs/dashboard.md

      - name: Install Dependencies
        id: install
        run: |
          echo "<html><body><pre>" > ./dist/installation.html
          npm ci |& tee -a ./dist/installation.html
          echo "</pre></body></html>" >> ./dist/installation.html
          echo '* [Installation](../installation.html): Installation details.' >> docs/dashboard.md

      - name: Run Linter
        id: lint
        run: |
          npm run eslint-output
          echo "* [Linter](../lint.html)" >> docs/dashboard.md

      - name: Build the project
        id: build
        run: |
          echo "<html><body><pre>" > ./dist/build.html
          npm run build -- --base "${{ steps.compute-base.outputs.base }}" |& tee -a ./dist/build.html
          echo "</pre></body></html>" >> ./dist/build.html
          echo "* [Build](../build.html)" >> docs/dashboard.md

      - name: Run Tests
        id: test
        run: |
          echo "<html><body><pre>" > ./dist/tests.html
          npm run test:cov |& tee -a ./dist/tests.html
          echo "</pre></body></html>" >> ./dist/tests.html
          echo "* [Tests](../tests.html)" >> docs/dashboard.md

      - name: Verify Integrity
        if: ${{ !cancelled() }}
        id: integrity
        run: |
          echo "<html><body><pre>" > ./dist/integrity.html
          find src -type f -name "*.test.ts" -exec md5sum {} + >> ./dist/integrity.html
          find src -type f -name "*.test.tsx" -exec md5sum {} + >> ./dist/integrity.html
          echo "</pre></body></html>" >> ./dist/integrity.html
          echo "* [Integrity](../integrity.html)" >> docs/dashboard.md

      - name: Create GitInspector Report
        if: ${{ !cancelled() }}
        id: gitinspector
        run: |
          git clone https://github.com/jpwhite3/gitinspector.git
          python ./gitinspector/gitinspector.py ./ --grading --format=html -f tsx,ts,html,css -x ./gitinspector -x ./node_modules -x ./wbcore > ./dist/git.html
          echo "* [Git Inspector](../git.html)" >> docs/dashboard.md

      - name: Copy commit logs
        if: ${{ !cancelled() }}
        id: commit_logs
        run: |
          echo "<html><body><pre>" > ./dist/commits.html
          git log --oneline --decorate --graph --all -n 50 | tee -a ./dist/commits.html
          echo "</pre></body></html>" >> ./dist/commits.html
          echo '* [Commit Messages](../commits.html): Last 50 commits.' >> docs/dashboard.md

      - name: Add build log
        if: ${{ !cancelled() }}
        id: add_build_log
        run: |
          printf '\n## Build Log\n```\n' >> ./docs/dashboard.md
          cat ./dist/_build_log.txt >> ./docs/dashboard.md
          echo '```' >> ./docs/dashboard.md

      - name: Generate HTML from Markdown
        if: ${{ !cancelled() }}
        id: markdown-docs
        uses: ldeluigi/markdown-docs@latest
        with:
          src: docs
          dst: dist/docs/

      - name: Setup Pages
        if: ${{ !cancelled() }}
        uses: actions/configure-pages@v5

      - name: Upload artifact
        if: ${{ !cancelled() }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: "dist/"

      - name: Deploy to GitHub Pages
        if: ${{ !cancelled() }}
        id: deployment
        uses: actions/deploy-pages@v4
